@use "./variables.scss" as *;

.padding{
  padding: $spacing;
}

.bg-white{
  background-color: $color-white;
  color: $text-color;
}

.bg-transparent{
  *{
    background-color: transparent;
    color: $text-color-white;
  }
}

.bg-black{
  background-color: $color-black;
  color: $text-color-white;
}

.hide{
  visibility: hidden;
}

.show{
  visibility: visible;
}