@use "./variables.scss" as *;
@use "./mixins.scss" as *;



// Flexbox Container
.flex-container{
  display: flex;
  gap: $spacing;
  &.column{
    @include flex(column,'','','');
  }
  &.center{
    @include flex('','center','center','');
  }
  &.end{
    @include flex('','flex-end','','');
  }
  &.space-between{
    @include flex('','space-between','','');
  }
  &.space-around{
    @include flex('','space-around','','');
  }
  &.space-evenly{
    @include flex('','space-evenly','','');
  }
  &.wrap{
    @include flex('','','','wrap');
  }

  ///default
  /// flex-direction: row;
  /// justify-content: flex-start;
  /// align-items: stretch;
  /// flex-wrap: nowrap;
  /// align-content: stretch;
}

/// Flexbox Item
.flex-child{
  &.grow{
    @include flex-item(1,'','','');
  }
  &.shrink{
    @include flex-item('',0,'','');
  }
  &.basis{
    @include flex-item('','','auto','');
  }

  &.align-start{
    @include flex-item('','','','flex-start');
  }
  &.align-end{
    @include flex-item('','','','flex-end');
  }
  &.align-center{
    @include flex-item('','','','center');
  }
  &.baseline{
    @include flex-item('','','','baseline');
  }
  &.stretch{
    @include flex-item('','','','stretch');
  }
  /// default
  /// flex-grow: 1;
  /// flex-shrink: 1;
  /// flex-basis: auto;
  /// align-self: auto;
  /// order: 0;
}

/// Grid Container
.grid-container{
  display: grid;
  row-gap: $spacing;
  column-gap: $spacing;
}


/// Page Layouts
.section{
  @extend .flex-container ,.column;
}


///Header layout
.section__header{
  height: 20%;
  h1,h6{
    padding: 0 $spacing ;
  }
  &:not(.section__header__description){
    h1{
      font-family: $font-family-base-links;
    }
  }
  &:has(.section__header__description){
    h1{
      font-family: $font-family-base;
    }
  }
  h6{
    font-family: $font-family-base-links;
  }
  &__description{
    @extend .flex-container;
    &:not(.left--section){
      @extend .center;
    }
    &:has(.left--section){
      @extend .space-between;
    }
    width: 100%;
    padding: $spacing*0.5 $spacing;
    margin-top: 3rem;
    .left--section,
    .middle--section,
    .right--section{
      margin: 0;
      @extend .flex-child;
      *{
        padding: 0;
        margin: 0;
        font-size: $font-size-smallText;
      }
    }
    .middle--section{
      font-family: $font-family-base-links;
    }
  }
}