@use "../../../../styles/typography.scss" as *;
@use "../../../../styles/mixins.scss" as *;
@use "../../../../styles/variables.scss" as *;
@use "../../../../styles/helpers.scss" as *;
@use "../../../../styles/layouts.scss" as *;

.ikigai-teams{
  .section__members{
    @extend .flex-container,.wrap,.center;
    margin: $spacing;
    &__description{
      @extend .flex-container,.center, .column;
      gap: 0;
      border: $border-component;
      padding: $spacing*0.25 $spacing 0 $spacing;
      min-width: 100px;
      background-color: #c3e9cc;
      border: 1px solid #28a745;
      border-radius: 4px;
      cursor: pointer;

      &.active{
        background-color: #bfe1f3;
        border: 1px solid #007bff;
      }
      
      .avatar{
        width: 2.25rem;
        height: auto;
        border-radius: 50%;
      }
    }
  }
  .section__ikigai{
    margin: $spacing;
    &__feedbacks{
      @extend .flex-container,.bg-white;
      .card{
        box-shadow: none;
        width: 100%;
        height: auto;
      }
      .section__card{
        width: 50%;
        &__header{
          background-color: $color-gray-lighter;
          color: $color-gray-dark;
        }
      }
    }
  }  
}

::ng-deep.mat-mdc-tab-group{
  border: 1px solid $color-gray;
  border-radius: 8px;  
  margin: 16px;
  background-color: $color-white;
  ::ng-deep.mat-mdc-tab-header{
    ::ng-deep.mat-mdc-tab-label-container{
      z-index: 0;
      border: 1px solid $color-gray;
      ::ng-deep.mat-mdc-tab{
        &:first-child{
          border-top-left-radius: $spacing * 0.5;
        }
        &:last-child{
          border-top-right-radius: $spacing * 0.5;
        }
        ::ng-deep.mdc-tab__text-label{
          padding: $spacing;
        }
        &.mdc-tab--active{
          background-color: $color-blue;
          .mdc-tab__text-label{
            color: $color-white;
          }
        }
        p,span,a{
          margin: 0;
          padding: 0;
        }
        ::ng-deep .mdc-tab-indicator .mdc-tab-indicator__content--underline{
          border: none;
        }
      }
    }
  }
  // ::ng-deep.mat-mdc-tab-body-wrapper{
  //   margin: $spacing;
  //   height: auto;
  //   ::ng-deep.mat-mdc-tab-body.mat-mdc-tab-body-active{
  //     z-index: 0;
  //   }
  // }
}

.filters{
  @extend .flex-container,.wrap,.center,.space-between;
  width: 100%;
}

table{
  box-shadow:$box-shadow-card;
  .feedback-actions{
    width: 400px;
  }
  .feedback-category,
  .feedback-status{
    ::ng-deep.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled{
      border-radius: $spacing * 2;
      .mdc-line-ripple::before{
        border-color: transparent;
      }
      .mdc-line-ripple::after{
        border-color: transparent;
      }
    }
  }
  .chips{
    padding: $spacing*0.5 $spacing;
    border: 1px solid;
    border-radius: $spacing * 2;
    width:max-content;
    &.red{
      background-color: #f44336;
      color: white;
    }
    &.yellow{
      background-color: #ffeb3b;
      color: black;
    }
    &.green{
      background-color: #4caf50;
      color: white;
    }
    &.blue{
      background-color: #2196f3;
      color: white;
    }
    &.pink{
      background-color: rgb(245, 161, 175);
      color: white;
    }
  }
}

.ngx-editor-panel{
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

::ng-deep.NgxEditor{
  margin: $spacing;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  .disabled &{
    opacity: 0.5;
    pointer-events: none;
  }
  &__Content{
    padding: $spacing $spacing*0.5 !important;
    ul, ol{
      padding-inline-start: $spacing * 2;
    }
  }
}