@use "../../../../styles/typography.scss" as *;
@use "../../../../styles/mixins.scss" as *;
@use "../../../../styles/variables.scss" as *;
@use "../../../../styles/helpers.scss" as *;
@use "../../../../styles/layouts.scss" as *;

.ikigai-teams{
  .section__members{
    @extend .flex-container,.wrap,.center;
    margin: $spacing;
    &__description{
      @extend .flex-container,.center, .column;
      gap: 0;
      border: $border-component;
      padding: $spacing*0.25 $spacing 0 $spacing;
      min-width: 100px;
      background-color: #c3e9cc;
      border: 1px solid #28a745;
      border-radius: 4px;
      cursor: pointer;

      &.active{
        background-color: #bfe1f3;
        border: 1px solid #007bff;
      }
      
      .avatar{
        width: 2.25rem;
        height: auto;
        border-radius: 50%;
      }
    }
  }
  .section__ikigai{
    @extend .flex-container, .column, .bg-white;
    margin: $spacing;
    .section__card__header{
      background-color: $color-gray-lighter;
      color: $color-gray-dark;
    }
    .card{
      box-shadow: none;
      width: 100%;
      height: auto;
    }    
    // .extend-row{
    //   @include grid-row(2,4);
    //   @include grid-column(2,3);
    //   .must-have {
    //     color: white;
    //     background-color: #e57373;
    //     padding: 4px 8px;
    //     border-radius: 4px;
    //   }
      
    //   .good-have {
    //     color: white;
    //     background-color: #ffb74d;
    //     padding: 4px 8px;
    //     border-radius: 4px;
    //   }
      
    //   .status-new {
    //     background-color: #ffeb3b;
    //     color: black;
    //   }
      
    //   .status-good {
    //     background-color: #4caf50;
    //     color: white;
    //   }
      
    //   .status-satisfactory {
    //     background-color: #81c784;
    //     color: white;
    //   }
      
    //   .status-unsatisfactory {
    //     background-color: #f44336;
    //     color: white;
    //   }
    // }
  }  
}

::ng-deep.mat-mdc-tab-group{
  border: 1px solid $color-gray;
  border-radius: 8px;  
  margin: 16px;
  background-color: $color-white;
  ::ng-deep.mat-mdc-tab-header{
    ::ng-deep.mat-mdc-tab-label-container{
      z-index: 0;
      border: 1px solid $color-gray;
      ::ng-deep.mat-mdc-tab{
        &:first-child{
          border-top-left-radius: $spacing * 0.5;
        }
        &:last-child{
          border-top-right-radius: $spacing * 0.5;
        }
        ::ng-deep.mdc-tab__text-label{
          padding: $spacing;
        }
        &.mdc-tab--active{
          background-color: $color-blue;
          .mdc-tab__text-label{
            color: $color-white;
          }
        }
        p,span,a{
          margin: 0;
          padding: 0;
        }
        ::ng-deep .mdc-tab-indicator .mdc-tab-indicator__content--underline{
          border: none;
        }
      }
    }
  }
  ::ng-deep.mat-mdc-tab-body-wrapper{
    margin: $spacing;
    height: auto;
  }
}