@use "../../../../styles/typography.scss" as *;
@use "../../../../styles/mixins.scss" as *;
@use "../../../../styles/variables.scss" as *;
@use "../../../../styles/helpers.scss" as *;
@use "../../../../styles/layouts.scss" as *;

.ikigai-teams{
  .section__members{
    @extend .flex-container,.wrap,.space-between;
    margin: $spacing $spacing*3;
    align-items: center;
    &__employeeDetailsContainer{
      @extend .flex-container,.center;
      gap: $spacing * 0.25;
      cursor: pointer;
      // border: $border-component;
      // background-color: #c3e9cc;
      // border: 1px solid #28a745;
      // border-radius: 4px;
      // padding: $spacing*0.25 $spacing 0 $spacing;
      // min-width: 100px;

      &.active{
        background-color: #bfe1f3;
        border: 1px solid #007bff;
      }
      
      .avatar{
        width: 2.25rem;
        height: auto;
        border-radius: 50%;
      }
    }
    &__details{
      @extend .grid-container;
      @include grid-template-column(100px 1fr);
      @include grid-template-row(1fr 1fr);
      @include grid-row-gap(0);
      @include grid-column-gap(0);
      align-items: center;
      .avatar{
        width: 4.25rem;
        height: auto;
        border-radius: 50%;
        @include grid-row(1,3);
      }
      *{
        padding: 0;
        margin: 0;
      }
      &__empName{
        align-self: flex-end;
      }
    }
    &__description{
      font-size: $font-size-subText;
      font-weight: $font-weight-subText;
      color: $text-color-light;
    }
  }
  .section__ikigai{
    // margin: $spacing;
    &__feedbacks{
      @extend .flex-container;
      gap: 2rem;
      .card{
        box-shadow: none;
        width: 100%;
        height: auto;
      }
      .section__card{
        width: 50%;
        margin: $spacing 0;
        // background-color: $color-gray-lighter;
        background-color: #f6f6f6;
        border: 1px solid $color-gray;
        border-radius: $spacing * 0.25;
        @extend .bg-white;
        &__header{
          color: $color-gray-dark;
          border: 0;
        }
      }
    }
    &__action-items{
      .section__card{
        border: 1px solid $color-gray;
        background-color: #f6f6f6;
      }
    }
  }  
  .section__header{
    @extend.flex-container, .column, .center;
    *{
      padding: 0;
      margin: 0;
    }
    span{
      font-size: $font-size-subText;
      color: $text-color-light;
    }
  }
  .section__title{
    font-style: italic;
    font-weight: $font-weight-subText;
    color: $text-color-light;
    margin: 0;
    padding: 0;
  }
}

::ng-deep.mat-mdc-tab-group{
  // border: 1px solid $color-gray;
  // background-color: $color-white;
  border-radius: 8px;  
  margin: $spacing $spacing*3;
  ::ng-deep.mat-mdc-tab-header{
    ::ng-deep.mat-mdc-tab-label-container{
      z-index: 0;
      border: 1px solid $color-gray;
      ::ng-deep.mat-mdc-tab{
        border-right: 1px solid $color-gray;
        @extend .bg-white;
        &:first-child{
          border-top-left-radius: $spacing * 0.5;
        }
        &:last-child{
          border-top-right-radius: $spacing * 0.5;
          border-right: none;
        }
        ::ng-deep.mdc-tab__text-label{
          padding: $spacing;
        }
        &.mdc-tab--active{
          background-color: $color-blue;
          .mdc-tab__text-label{
            color: $color-white;
          }
        }
        p,span,a{
          margin: 0;
          padding: 0;
        }
        ::ng-deep .mdc-tab-indicator .mdc-tab-indicator__content--underline{
          border: none;
        }
      }
    }
  }
  // ::ng-deep.mat-mdc-tab-body-wrapper{
  //   margin: $spacing;
  //   height: auto;
  //   ::ng-deep.mat-mdc-tab-body.mat-mdc-tab-body-active{
  //     z-index: 0;
  //   }
  // }
}

.filters{
  @extend .flex-container,.wrap,.center,.space-between;
  width: 100%;
}

table{
  box-shadow:$box-shadow-card;
  .feedback-actions{
    width: 400px;
  }
  .feedback-category,
  .feedback-status{
    ::ng-deep.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled{
      border-radius: $spacing * 2;
      .mdc-line-ripple::before{
        border-color: transparent;
      }
      .mdc-line-ripple::after{
        border-color: transparent;
      }
    }
  }
  .chips{
    padding: $spacing*0.5 $spacing;
    border: 1px solid;
    border-radius: $spacing * 2;
    width:max-content;
    &.red{
      background-color: #f44336;
      color: white;
    }
    &.yellow{
      background-color: #ffeb3b;
      color: black;
    }
    &.green{
      background-color: #4caf50;
      color: white;
    }
    &.blue{
      background-color: #2196f3;
      color: white;
    }
    &.pink{
      background-color: rgb(245, 161, 175);
      color: white;
    }
  }
}

.ngx-editor-panel{
  // border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: $box-shadow-default;
  &:has(.disabled ){
    background-color: $color-editor-disabled;
    pointer-events: none;
    ::ng-deep.NgxEditor__MenuBar{
      background-color: $color-editor-disabled !important;
    } 
    ::ng-deep.NgxEditor{
      background: $color-editor-disabled !important;
    }
  }
}

::ng-deep.NgxEditor{
  // margin: $spacing;
  border: none !important;
  min-height: 350px;
  // .disabled &{
  //   pointer-events: none;
  // }
  &__Content{
    padding: $spacing $spacing*0.5 !important;
    ul, ol{
      padding-inline-start: $spacing * 2;
    }
  }
}