
@use "../../../styles/typography.scss" as *;
@use "../../../styles/mixins.scss" as *;
@use "../../../styles/variables.scss" as *;
@use "../../../styles/helpers.scss" as *;
@use "../../../styles/layouts.scss" as *;

// .mat-stepper-horizontal .mat-horizontal-stepper-header-container .mat-step-header{
//   ::ng-deep &.mat-primary{
//     padding: $spacing;
//     border: $border-button-secondary;
//     border-radius: $border-button-radius;
//     .mat-step-icon{
//       border: $border-button-secondary;
//       color: $button-text-secondary-color;
//     }
//     *{
//       color: $button-text-secondary-color;
//     }
//     &.cdk-focused{
//       background-color: $button-primary-bg;
//       border: $border-button-primary;
//       .mat-step-icon{
//         background-color: $button-primary-bg;
//         border: 1px solid$color-white;
//         color: $button-text-primary-color;
//       }
//       *{
//         color: $button-text-primary-color;
//       }
//     }
//     .cdk-visually-hidden {
//       border: 0;
//       clip: rect(0 0 0 0);
//       height: 1px;
//       margin: -1px;
//       overflow: hidden;
//       padding: 0;
//       position: absolute;
//       width: 1px;
//       white-space: nowrap;
//       outline: 0;
//       -webkit-appearance: none;
//       -moz-appearance: none;
//       left: 0;
//     }
//     span{
//       margin: 0;
//     }
//   }
// }

.mat-stepper-vertical .mat-step .mat-vertical-stepper-header.mat-step-header{
  ::ng-deep &.mat-primary{
    padding: $spacing;
    border: $border-button-secondary;
    border-radius: $border-button-radius;
    .mat-step-icon{
      border: $border-button-secondary;
      color: $button-text-secondary-color;
    }
    *{
      color: $button-text-secondary-color;
    }
    &.cdk-focused{
      background-color: $button-primary-bg;
      border: $border-button-primary;
      .mat-step-icon{
        background-color: $button-primary-bg;
        border: 1px solid$color-white;
        color: $button-text-primary-color;
      }
      *{
        color: $button-text-primary-color;
      }
    }
    .cdk-visually-hidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      white-space: nowrap;
      outline: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      left: 0;
    }
    span{
      margin: 0;
    }
  }
}

dl{
  dt{
    font-weight: $font-weight-bold;
    margin-top: $spacing ;
  }
  dd{
    margin-left: $spacing;    
  }
  ul {
    margin-top: $spacing;
    margin-left: $spacing ;
    li{
      margin-top: $spacing;
    }
  }
  img{
    max-width: 30%;
    height: auto;
    margin-top: $spacing;
  }
}