@use "../../../../styles.scss" as *;
@use "../../../styles/global.scss" as *;
@use "../../../styles/typography.scss" as *;
@use "../../../styles/mixins.scss" as *;
@use "../../../styles/variables.scss" as *;
@use "../../../styles/helpers.scss" as *;
.container__main{
// color: white;
// display: flex;
// flex-direction: column;
// gap: 16px;
// padding: 16px;
// background-color: wheat;
}

.banner-section{  
  padding: 16px;
  color: white;
  }
  
  .maqruee-section{
  height: 35vh;
  width: 70%;
  margin: auto;
  background-color: white;
  border: 1px solid #e5e9e9;
  border-radius: 4px;
  }
  
  .card-section{
    height: 40vh;
    width: calc(100% - 32px);
    margin: auto;
    border-radius: 4px;

    @extend .bg-white;
  }

  .card{
    @extend .flex-child;
  }