<section class="section dashboard">
  <!-- <header class="section__header bg-red">
    <h1>Codename Pulse</h1>
    <h6>Welcome back to Dashboard</h6>
    <section class="section__header__description bg-black">
      <button class="left--section disabled">test</button>
      <h3 class="middle--section">Dashboard</h3>
      <section class="right--section"></section>
    </section>
  </header> -->
  <!-- <section class="section__dashboard">
    <section class="section__dashboard__left">
      <img src="assets/Dashboard.png" alt="Dashboard">
      <img src="/angular-ikigai-frontend-app/assets/Dashboard.png" alt="" srcset="">
      <img src="assets/Dashboard.png" alt="">
    </section>
    <section class="section__dashboard__right" >
      <h6>Sept Highlights:</h6>
      <p>IKIGAI [Sept] - 3 Teams ✅, 6 Teams ❌</p>
      <p>1:1 Feedback [Sept] = 15 Members ✅, 30 Members ❌</p>
    </section>      
  </section> -->
  <section class="section__header">
    <h3>Your Teams This Month - Dec 2024</h3>
    <span>Get a quick overview of Ikigai, 1:1 Connect and team progress</span>
  </section>
  <section class="section__dashboard__container">
    <section class="section__card">
      <h6 class="section__title">Quick Glance</h6>
      <section class="section__card__container">
        <section class="card card__1">
         <p class="card__section title">Overview</p>  
         <section class="card__section dashboard__data">
           <section class="dashboard__numbers">
              <p>Teams</p>
              <span>12</span>
           </section>
           <section class="dashboard__numbers">
              <p>Scrum Masters</p>
              <span>9</span>
           </section>
           <section class="dashboard__numbers">
              <p>Team Members</p>
              <span>95</span>
           </section>
         </section>    
        </section>
        <section class="card card__2">
          <p class="card__section title">Ikigai Status</p>     
          <section class="card__section dashboard__data">
            <section class="dashboard__numbers">
               <p>Completed</p>
               <span>12</span>
            </section>
            <section class="dashboard__numbers">
               <p>Pending</p>
               <span>9</span>
            </section>
          </section>  
        </section>
        <section class="card card__3">
          <p class="card__section title">Placeholder</p>
        </section>
      </section>
    </section>
  </section>
  <section class="section__card">
    <!-- <section class="section__card__header">
      <button class="left--section primary">Filter</button>
      <h6 class="middle--section">Dashboard</h6>
      <button class="right--section secondary">Sept</button>
    </section> -->
    <h6 class="section__title">Teams</h6>
    <section class="section__card__container">
      <!-- <section class="card card__1">
       <p class="card__section title">Kalopsia[Exact]</p>
       <p class="card__section phrase">Placeholder for catchphrase</p>
       <p class="card__section role"><b>SM:</b> <span>Sritaj Kumar Rajat Patel Singh</span></p>
       <section class="card__section members"><h6>Members:</h6> <h6 class="members_count">6</h6></section>
       <section class="card__section avatar__container collapse">
        <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
        <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
        <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
        <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
        <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
        <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
        <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
        <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
        <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
       </section>
       <section class="card__section">
        <section class="ikigai">
          <h6>IKIGAI:</h6>
          <span class="status success"></span>
        </section>
        <section  class="OnetoOneConnect">
          <h6>1:1 :</h6>
          <span class="status danger"></span>
        </section>
       </section>
      </section>
      <section class="card card__2">
        <p class="card__section title">Enhancers[Exact]</p>
        <p class="card__section phrase">Placeholder for catchphrase</p>
        <p class="card__section role"><b>SM:</b> Harsha</p>
        <section class="card__section members"><h6>Members:</h6> <h6 class="members_count">6</h6></section>        
        <section class="card__section avatar__container collapse">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
        </section>
        <section class="card__section">
          <section class="ikigai">
            <h6>IKIGAI:</h6>
            <span class="status success"></span>
          </section>
          <section  class="OnetoOneConnect">
            <h6>1:1 :</h6>
            <span class="status danger"></span>
          </section>
         </section>
      </section>
      <section class="card card__3">
        <p class="card__section title">Mavericks[Exact]</p>
        <p class="card__section phrase">Placeholder for catchphrase</p>
        <p class="card__section role"><b>SM:</b> Palvi</p>
        <section class="card__section members"><h6>Members:</h6> <h6 class="members_count">6</h6></section>
        <section class="card__section avatar__container collapse">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
        </section>
        <section class="card__section">
          <section class="ikigai">
            <h6>IKIGAI:</h6>
            <span class="status success"></span>
          </section>
          <section  class="OnetoOneConnect">
            <h6>1:1 :</h6>
            <span class="status danger"></span>
          </section>
         </section>
      </section>
      <section class="card card__4">
        <p class="card__section title">Coca Cola[Exact]</p>
        <p class="card__section phrase">Placeholder for catchphrase</p>
        <p class="card__section role"><b>SM:</b> Sritaj</p>
        <section class="card__section members"><h6>Members:</h6> <h6 class="members_count">6</h6></section>
        <section class="card__section avatar__container collapse">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
        </section>
        <section class="card__section">
          <section class="ikigai">
            <h6>IKIGAI:</h6>
            <span class="status success"></span>
          </section>
          <section  class="OnetoOneConnect">
            <h6>1:1 :</h6>
            <span class="status danger"></span>
          </section>
         </section>
      </section>
      <section class="card card__5">
        <p class="card__section title">Ensis[Royal Haskoning]</p>
        <p class="card__section phrase">Placeholder for catchphrase</p>
        <p class="card__section role"><b>SM:</b> Sritaj</p>
        <section class="card__section members"><h6>Members:</h6> <h6 class="members_count">6</h6></section>
        <section class="card__section avatar__container collapse">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
        </section>
        <section class="card__section">
          <section class="ikigai">
            <h6>IKIGAI:</h6>
            <span class="status success"></span>
          </section>
          <section  class="OnetoOneConnect">
            <h6>1:1 :</h6>
            <span class="status danger"></span>
          </section>
         </section>
      </section>
      <section class="card card__6">
        <p class="card__section title">Rangers[Exact]</p>
        <p class="card__section phrase">Placeholder for catchphrase</p>
        <p class="card__section role"><b>SM:</b> Harsha</p>
        <section class="card__section members"><h6>Members:</h6> <h6 class="members_count">6</h6></section>
        <section class="card__section avatar__container collapse">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
        </section>
        <section class="card__section">
          <section class="ikigai">
            <h6>IKIGAI:</h6>
            <span class="status success"></span>
          </section>
          <section  class="OnetoOneConnect">
            <h6>1:1 :</h6>
            <span class="status danger"></span>
          </section>
         </section>
      </section>
      <section class="card card__7">
        <p class="card__section title">Titans[Exact]</p>
        <p class="card__section phrase">Placeholder for catchphrase</p>
        <p class="card__section role"><b>SM:</b> Palvi</p>
        <section class="card__section members"><h6>Members:</h6> <h6 class="members_count">6</h6></section>
        <section class="card__section avatar__container collapse">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
        </section>
        <section class="card__section">
          <section class="ikigai">
            <h6>IKIGAI:</h6>
            <span class="status success"></span>
          </section>
          <section  class="OnetoOneConnect">
            <h6>1:1 :</h6>
            <span class="status danger"></span>
          </section>
         </section>
      </section> -->
      <section class="card" *ngFor="let teams of homepageData.teams">
        <p class="card__section title">{{teams.teamName}}</p>
        @if (teams !==undefined) {
          <p class="card__section phrase" >Placeholder for catchphrase</p>
        } 
        @else {
          <p class="card__section phrase">Placeholder for catchphrase</p>
        }
        <p class="card__section role" matTooltip={{teams.teamSMName}} matTooltipPosition="above"><b>SM:</b> {{teams.teamSMName}}</p>
        <section class="card__section members"><h6>Members:</h6> <h6 class="members_count">{{teams.totalTeamMembersCount}}</h6></section>
        <section class="card__section avatar__container collapse">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
         </section>        
         <section class="card__section">
          <section class="ikigai">
            <h6>IKIGAI:</h6>
            @if (teams.ikigaiStatus) {
              <span class="status success"></span>
            } 
            @else {
              <span class="status danger"></span>
            }
          </section>
          <section  class="OnetoOneConnect">
            <h6>1:1 :</h6>
            @if(teams.totalOnetoOneCompletedCount==teams.totalTeamMembersCount) {
              <span class="status success"></span>
            }
            @else {
              <span class="status danger"></span>
            }
          </section>
         </section>
        <!-- @if (teams.ikigaiStatus) {
          <h6 class="card__section ikigai">IKIGAI: ✅</h6>
        } 
        @else {
          <h6 class="card__section ikigai">IKIGAI: ❌</h6>
        }
        @if(teams.totalOnetoOneCompletedCount==teams.totalTeamMembersCount) {
          <h6 class="card__section 1:1Connect">1:1 Connect: <span class="success">{{teams.totalOnetoOneCompletedCount}}/{{teams.totalTeamMembersCount}}</span></h6>
        }
        @else {
          <h6 class="card__section 1:1Connect">1:1 Connect: {{teams.totalOnetoOneCompletedCount}}/{{teams.totalTeamMembersCount}}</h6>
        } -->
      </section>
    </section>
  </section>
</section>

@if(this.loader){
  <app-loader></app-loader>
}