<section class="section ikigai">
  <section class="section__header">
    <h3>Teams IKIGAI Progress- Dec 2024</h3>
    <span>Looking for past IKIGAI data? Check Timeline tab for details</span>
  </section>
  <section class="section__card">
    <!--Card Header-->
    <!-- <section class="section__card__header">
      <button class="left--section primary">Filter</button>
      <h6 class="middle--section"></h6>
      <button class="right--section secondary">Sept</button>
    </section> -->
    <!--Card Section-->
    <h6 class="section__title">Teams</h6>
    <section class="section__card__container">
      <!-- <section class="card card__1">
        <p class="card__section title">Kalopsia[Exact]</p>
        <p class="card__section role">SM: Sritaj</p>
        <section class="card__section"></section>
        <a class="card__section ikigai"> Start IKIGAI</a>
        <section class="card__section avatar__container collapse">
         <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
         <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
         <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
         <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
         <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
         <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
         <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
         <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
         <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
        </section>
       </section>
       <section class="card card__2">
         <p class="card__section title">Enhancers[Exact]</p>
         <p class="card__section role">SM: Harsha</p>
         <section class="card__section"></section>
         <a class="card__section ikigai"> Start IKIGAI</a>
         <section class="card__section avatar__container collapse">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
           <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
           <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
         </section>
       </section>
       <section class="card card__3">
         <p class="card__section title">Mavericks[Exact]</p>
         <p class="card__section role">SM: Palvi</p>
         <section class="card__section"></section>
         <a class="card__section ikigai"> Start IKIGAI</a>
         <section class="card__section avatar__container collapse">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
           <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
           <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
           <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
         </section>
       </section>
       <section class="card card__4">
         <p class="card__section title">Coca Cola[Exact]</p>
         <p class="card__section role">SM: Sritaj</p>
         <section class="card__section"></section>
         <a class="card__section ikigai"> Start IKIGAI</a>
         <section class="card__section avatar__container collapse">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
           <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
         </section>
       </section>
       <section class="card card__5">
         <p class="card__section title">Ensis[Royal Haskoning]</p>
         <p class="card__section role">SM: Sritaj</p>
         <section class="card__section"></section>
         <a class="card__section ikigai"> Start IKIGAI</a>
         <section class="card__section avatar__container collapse">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
           <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
         </section>
       </section>
       <section class="card card__6">
         <p class="card__section title">Rangers[Exact]</p>
         <p class="card__section role">SM: Harsha</p>
         <section class="card__section"></section>
         <a class="card__section ikigai"> Start IKIGAI</a>
         <section class="card__section avatar__container collapse">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
           <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
           <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
           <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
         </section>
       </section>
       <section class="card card__7">
         <p class="card__section title">Titans[Exact]</p>
         <p class="card__section role">SM: Palvi</p>
         <section class="card__section"></section>
         <a class="card__section ikigai"> Start IKIGAI</a>
         <section class="card__section avatar__container collapse">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
           <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
           <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
         </section>
       </section> -->
       <!-- <section class="card" *ngFor="let teams of ikigaiData.teams">
        <p class="card__section title">{{teams.teamName}}</p>
        <p class="card__section role">SM: {{teams.teamSMName}}</p>
        <section class="card__section"></section>
        <a class="card__section ikigai" (click)="showSnackBar(teams.teamID)" > Start IKIGAI</a>
        <section class="card__section avatar__container collapse">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
         </section>
      </section> -->
       <section class="card" *ngFor="let teams of ikigaiData.teams">
        <p class="card__section title">{{teams.teamName}}</p>
        @if (teams !==undefined) {
          <p class="card__section phrase">Placeholder for catchphrase</p>
        } 
        @else {
          <p class="card__section phrase">Placeholder for catchphrase</p>
        }
        <p class="card__section role" matTooltip={{teams.teamSMName}} matTooltipPosition="above"><b>SM:</b> {{teams.teamSMName}}</p>
        <section class="card__section members"><h6>Members:</h6> <h6 class="members_count">{{teams.totalTeamMembersCount}} </h6></section>   
        <section class="card__section avatar__container collapse">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
        </section>
        <section class="card__section actions">
          @if(teams.ikigaiStatus){
            <button class="view" (click)="showSnackBar(teams.teamID)">View</button>
          }
          @else {
            <button class="start primary" (click)="showSnackBar(teams.teamID)" extended>
              <!-- <mat-icon>play arrow</mat-icon> -->
              Start
            </button>
          }
        </section>
      </section>

      <!-- <section class="card card__2">
        <p class="card__section title">Enhancers[Exact]</p>
        <p class="card__section phrase">Placeholder for catchphrase</p>
        <p class="card__section role"><b>SM:</b> Harsha</p>
        <section class="card__section members"><h6>Members:</h6> <h6 class="members_count">6</h6></section>        
        <section class="card__section avatar__container collapse">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
        </section>
        <section class="card__section actions">
          <button class="start">Start</button>
        </section>
      </section>
      <section class="card card__3">
        <p class="card__section title">Mavericks[Exact]</p>
        <p class="card__section phrase">Placeholder for catchphrase</p>
        <p class="card__section role"><b>SM:</b> Palvi</p>
        <section class="card__section members"><h6>Members:</h6> <h6 class="members_count">6</h6></section>
        <section class="card__section avatar__container collapse">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
        </section>
        <section class="card__section actions">
          <button class="view">View</button>
        </section>
      </section>
      <section class="card card__4">
        <p class="card__section title">Coca Cola[Exact]</p>
        <p class="card__section phrase">Placeholder for catchphrase</p>
        <p class="card__section role"><b>SM:</b> Sritaj</p>
        <section class="card__section members"><h6>Members:</h6> <h6 class="members_count">6</h6></section>
        <section class="card__section avatar__container collapse">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
        </section>
        <section class="card__section actions">
          <button class="start">Start</button>
        </section>
      </section>
      <section class="card card__5">
        <p class="card__section title">Ensis[Royal Haskoning]</p>
        <p class="card__section phrase">Placeholder for catchphrase</p>
        <p class="card__section role"><b>SM:</b> Sritaj</p>
        <section class="card__section members"><h6>Members:</h6> <h6 class="members_count">6</h6></section>
        <section class="card__section avatar__container collapse">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
        </section>
        <section class="card__section actions">
          <button class="view">View</button>
        </section>
      </section>
      <section class="card card__6">
        <p class="card__section title">Rangers[Exact]</p>
        <p class="card__section phrase">Placeholder for catchphrase</p>
        <p class="card__section role"><b>SM:</b> Harsha</p>
        <section class="card__section members"><h6>Members:</h6> <h6 class="members_count">6</h6></section>
        <section class="card__section avatar__container collapse">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
        </section>
        <section class="card__section actions">
          <button class="start">Start</button>
        </section>
      </section>
      <section class="card card__7">
        <p class="card__section title">Titans[Exact]</p>
        <p class="card__section phrase">Placeholder for catchphrase</p>
        <p class="card__section role"><b>SM:</b> Palvi</p>
        <section class="card__section members"><h6>Members:</h6> <h6 class="members_count">6</h6></section>
        <section class="card__section avatar__container collapse">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
        </section>
        <section class="card__section actions">
          <button class="view">View</button>
        </section>
      </section> -->

    </section>
  </section>
</section>

@if(this.showSnackbar){
  <app-snackbar SnackBarMessage={{snackbarMessge}} SnackBarType={{snackbarType}} (closeSnackBar)="CloseSnackBar()" ></app-snackbar>
 }

 @if(this.loader){
  <app-loader></app-loader>
}