<section class="conatiner container__layouts">
  <section class="typography--section">
    <h1>Welcome to H1</h1>
    <h2>Welcome to H2</h2>
    <h3>Welcome to H3</h3>
    <h4>Welcome to H4</h4>
    <h5>Welcome to H5</h5>
    <h6>Welcome to H6</h6>
    <p>Welcome to P</p> &nbsp;
    <span>Welcome to Span</span> &nbsp;
    <a href="#">Welcome to A</a>  &nbsp;
    <button class="primary">Primary</button> &nbsp;
    <button class="secondary">Secondary</button> &nbsp;
    <button  mat-stroked-button>Mat Button</button> &nbsp;

  </section>
  <hr>
  <h3>Flex: Column</h3>
  <section class="card-section card-section__0" style="overflow: auto;">
    <div class="card">
      <h2>Card 1</h2>
      <p>Card 1 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 2</h2>
      <p>Card 2 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 3</h2>
      <p>Card 3 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 4</h2>
      <p>Card 4 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 5</h2>
      <p>Card 5 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 6</h2>
      <p>Card 6 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 7</h2>
      <p>Card 7 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>

  </section>
  <hr>
  <h3>Flex: Column, Center, Wrap</h3>
  <section class="card-section card-section__1" style="overflow: auto;">
    <div class="card">
      <h2>Card 1</h2>
      <p>Card 1 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 2</h2>
      <p>Card 2 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 3</h2>
      <p>Card 3 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 4</h2>
      <p>Card 4 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 5</h2>
      <p>Card 5 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 6</h2>
      <p>Card 6 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 7</h2>
      <p>Card 7 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>

  </section>
  <hr>
  <h3>Flex: Row</h3>
  <section class="card-section card-section__2" style="overflow: auto;">
    <div class="card">
      <h2>Card 1</h2>
      <p>Card 1 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 2</h2>
      <p>Card 2 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 3</h2>
      <p>Card 3 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 4</h2>
      <p>Card 4 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 5</h2>
      <p>Card 5 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 6</h2>
      <p>Card 6 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 7</h2>
      <p>Card 7 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>

  </section>
  <hr>
  <h3>Flex: Row, Center, Wrap</h3>
  <section class="card-section card-section__3" style="overflow: auto;">
    <div class="card">
      <h2>Card 1</h2>
      <p>Card 1 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 2</h2>
      <p>Card 2 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 3</h2>
      <p>Card 3 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 4</h2>
      <p>Card 4 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 5</h2>
      <p>Card 5 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 6</h2>
      <p>Card 6 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 7</h2>
      <p>Card 7 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>

  </section>
  <hr>
  <h3>Flex: Row, left, Wrap</h3>
  <section class="card-section card-section__4" style="overflow: auto;">
    <div class="card">
      <h2>Card 1</h2>
      <p>Card 1 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 2</h2>
      <p>Card 2 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 3</h2>
      <p>Card 3 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 4</h2>
      <p>Card 4 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 5</h2>
      <p>Card 5 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 6</h2>
      <p>Card 6 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 7</h2>
      <p>Card 7 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>

  </section>
  <hr>
  <h3>Grid Container:  3*3 </h3>
  <section class="card-section card-section__5" style="overflow: auto;">
    <div class="card">
      <h2>Card 1</h2>
      <p>Card 1 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 2</h2>
      <p>Card 2 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 3</h2>
      <p>Card 3 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 4</h2>
      <p>Card 4 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 5</h2>
      <p>Card 5 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 6</h2>
      <p>Card 6 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 7</h2>
      <p>Card 7 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>

  </section>
  <hr>
  <h3>Grid Container:  4*2 </h3>
  <section class="card-section card-section__6" style="overflow: auto;">
    <div class="card">
      <h2>Card 1</h2>
      <p>Card 1 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 2</h2>
      <p>Card 2 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 3</h2>
      <p>Card 3 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 4</h2>
      <p>Card 4 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 5</h2>
      <p>Card 5 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 6</h2>
      <p>Card 6 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 7</h2>
      <p>Card 7 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>

  </section>
  <hr>
  <h3>Grid Container:  3*5 with Header, Side NavBar, Content, Footer </h3>
  <section class="card-section card-section__7" style="overflow: auto;">
    <div class="card header">
      <h2>Card 1</h2>
      <p>Card 1 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card sidebar">
      <h2>Card 2</h2>
      <p>Card 2 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 3</h2>
      <p>Card 3 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 4</h2>
      <p>Card 4 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 5</h2>
      <p>Card 5 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card">
      <h2>Card 6</h2>
      <p>Card 6 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>
    <div class="card footer">
      <h2>Card 7</h2>
      <p>Card 7 Content</p>
      <button class="primary">Delete</button>
      <button class="secondary">Cancel</button>
    </div>

  </section>
</section>