<section class="section ikigai">
  <header class="section__header bg-transparent">
    <h1>Codename Pulse</h1>
    <h6>Please select the team to start ikigai</h6>
    <section class="section__header__description bg-black">
      <!-- <button class="left--section disabled">test</button> -->
      <h3 class="middle--section">Start IKIGAI</h3>
      <!-- <section class="right--section"><p>Ready to Download</p></section> -->
    </section>
  </header>
  <section class="section__card">
    <!--Card Header-->
    <section class="section__card__header">
      <button class="left--section primary">Filter</button>
      <!-- <h6 class="middle--section">Dashboard</h6> -->
      <button class="right--section secondary">Sept</button>
    </section>
    <!--Card Section-->
    <section class="section__card__container">
      <section class="card"></section>
      <section class="card"></section>
      <section class="card"></section>
      <section class="card"></section>
      <section class="card"></section>
      <section class="card"></section>
      <section class="card"></section>
      <section class="card"></section>

    </section>
  </section>
  <section></section>
  <section></section>
</section>