@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;
@use "../../../styles/typography.scss" as *;
@use "../../../styles/layouts.scss" as *;
@use "../../../styles/helpers.scss" as *;


.content{
  height: 100%;
  width: 100%;
  color: #272727;
  overflow: auto;
  font-size: $spacing;
  &:has(.dashboard){
    background: linear-gradient(to bottom,$color-red-dark 0,$color-red-dark 20%,$color-gray-light 20%,$color-gray-light 100%);
  }
  &:not(.dashboard){
    background: linear-gradient(to bottom,$color-red-dark 0,$color-red-dark 230px,$color-gray-light 230px,$color-gray-light 100%);
  }
  @extend .grid-container;
  @include grid-template-column(17% 1fr );
  @include grid-template-row(1fr);
  gap: 0;
  &__sideNavBar{
    margin-top: $spacing * 2.25;
    // height: 100vh;
    // background-color: white;    
    // padding: $spacing * 2;
    // position: sticky;
    // top: 0;
    // overflow: auto;
    border-top-right-radius: 1rem;
    @media(min-width: 1500px){
      // padding: $spacing * 3;
    }
  }
  &__main{
    // margin-top: $spacing * 2.25;
  }
}